  <tr>
    <td><%= url.slug %></td>
    <td><%= url.destination %></td>
    <td><%= link_to 'Show', url %></td>
    <td><%= link_to 'Edit', edit_url_path(url) %></td>
    <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
