<h1>Listing urls</h1>

<table>
  <tr>
    <%= table_header "Short code" %>
    <th>Target</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render :partial => "urls/url", :collection => @urls %>
  <% @urls.each do |url| %>
    <%= render :partial => "urls/url", :object => url, :locals => {} %>
  <% end %>
  <%= link_to image_tag("rails.png"), "/" %>
</table>

<br />

<%= link_to 'New Url', new_url_path %>

<% content_for(:before_view) do %>
  <h2>Content For Before View</h2>
<% end %>
